.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    width: 3rem;
    margin-right: 1rem
}

.input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    margin-left: .5rem;
}