.loader {
  display: block;
    margin-top: 2rem;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #94400c;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 45%;
    transform: translate(-50%,);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 500;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }