.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-style: italic;
    font-weight: 500;
}

.price{
    margin-top: 0.25rem;
    font-weight: bolder;
    color: #6b2002;

}